{% extends "layout.njk" %}
{% block styles %}
    <link rel="stylesheet" href="/styles/form.css">
{% endblock styles %}

{% block header %}
{% include "../parts/header.njk" %}
{% endblock header %}

{% block content %}

<section id="receita" class="page_create">

   
    <form id="new_recipe" action="/admin/chefs" method="post">
    
        <div class="admin_receita">
            <h4>Criando chef</h4>

            <button id="save_recipe" type="submit">Salvar chef</button>
        </div>

        <div class="receita_descricao">

            <div class="receita_descricao_titles">
                <h2>Nome</h2>
            </div>
            <div class="receita_input">
                <div>
                    <div>
                        <input type="text" name="name" id="" >
                    </div>
                </div>
            </div>

            <div class="receita_descricao_titles">
                <h2>Avatar</h2>
            </div>
            <div class="receita_input">
                <div>
                    <div>
                        <input type="url" name="avatar_url" id="" placeholder="https://">
                    </div>
                </div>
            </div>
            
        </div>
    </form>
</section>

{% endblock content %}