    <header id="admin_header">
        <div class="container_header">
            <div id="logo_header">
                <a href="/">
                <h1>Foody</h1>
                </a>
            </div>
            <div id="menu_header">
                <ul>
                    <li><a href="/admin/receitas">RECEITAS</a></li>
                    <li><a href="/admin/chefs">CHEFS</a></li>

                </ul>
            </div>
        </div>
    </header>