{% extends "layout.njk" %}
{% block head %}
    <title>ERROR 404</title>
{% endblock head %}

{% block content %}

    <div class="container" id="error">
        <h1>PÁGINA NÃO ENCONTRADA</h1>
        <h2>ERROR 404</h2>
    </div>
{% endblock content %}