{% extends "layout.njk" %}

{% block head %}
    <title>Starter</title>
{% endblock head %}

{% block content %}

    <div class="container">
        
        <section class="apresentacao">
            <div class="info_empresa">
                <h1>Starter</h1>
                 <p><span>Cursos 100% online e gratuitos</span> para você entrar com o pé direito nas tecnologias mais desejadas do mercado.</p>
            </div>
        </section>


    </div>
{% endblock content %}
