<div class="item">
    <div>Nome Completo</div>
    <div class="input">
        <input type="text" name="name" id="" placeholder="Digite seu nome completo" value="{{ user.name}}" required >
    </div>
</div>

<div class="item">
    <div>E-mail</div>
    <div class="input validate">
        <input type="email" name="email" id="" placeholder="Digite seu e-mail" value="{{ user.email}}" onblur="Validate.apply(this, 'isEmail')">
    </div>
</div>

<div class="item">
    <div>Senha</div>
    <div class="input">
        <input type="password" name="password" id="" {% if not user.id %} placeholder="Escolha uma senha segura" {% else %} placeholder="Digite sua senha para atualizar seu cadastro" {% endif %} >
    </div>
</div>

{% if not user.id %}
<div class="item">
    <div>Repetir Senha</div>
    <div class="input">
        <input type="password" name="passwordRepeat" id="" placeholder="Repita a senha escolhida">
    </div>
</div>
{% endif %}

<div class="item">
    <div>CPF ou CNPJ</div>
    <div class="input validate">
        <input type="text" name="cpf_cnpj" id="" placeholder="Digite seu documento" value="{{ user.cpf_cnpj}}" onkeydown="Mask.apply(this, 'cpfCnpj')" onblur="Validate.apply(this, 'isCpfCnpj')">
    </div>
</div>

<div class="item">
    <div>CEP</div>
    <div class="input validate">
        <input type="text" name="cep" id="" placeholder="xxxxx - xxx" value="{{ user.cep}}" onkeydown="Mask.apply(this, 'cep')" onblur="Validate.apply(this, 'isCep')">
    </div>
</div>

<div class="item">
    <div>Endereço Completo</div>
    <div class="input">
        <input type="text" name="address" id="" placeholder="Digite seu endereço completo" value="{{ user.address}}">
    </div>
</div>


