{% extends "layout.njk" %}

{% block content %}


<div class="card">

    <section class="avatar" style="background: url({{member.avatar_url}}) no-repeat center center / cover;">
    </section>

    <section class="details">
<!-- O formulario html so aceita como method o GET e o POST, para tranalhar com os verbos PUT e DELETE usar o method OVERRIDE:
-No terminal digitar: npm install method-override
-Chamar o methodOverride no arquivo server.js e configurar
-No action escrever ?_method=PUT ou ?_method=DELETE no ao final do endereço, exemplo=> action="/..........?_method=PUT"
-Estamos passando entao uma query string com o methodo a ser utilizado
 -->
        <form  method="POST" action="/members?_method=PUT">

                <h3>Editar membro</h3>

                {% include 'members/fields.njk' %}

                <input type="hidden" name="id" value={{member.id}}>

        </form>

        <form id="form-delete" action="/members?_method=DELETE" method="post">
            <input type="hidden" name="id" value={{member.id}}>
            <button type="submit">Deletar</button>
        </form>

        <script>
            const formDelete = document.querySelector("#form-delete");
            formDelete.addEventListener("submit", function(event){
                const confirmation = confirm("Deseja deletar?")

                if(!confirmation) {
                event.preventDefault()
                }
            })
        </script>

    </section>
</div>



{% endblock content %}